@model IEnumerable<JeCenterWeb.Models.ViewModel.TeachersPayments>
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Index";
}

@if (signInManager.IsSignedIn(User))
{
    @if (User.IsInRole("AdminSettings"))
    {
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Custom Tabs -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">تقارير الخزينة</h3>
                                <partial name="_dashboard" />
                            </div>
                            <div class="card-body">
                                <div class="card-body table-responsive p-0" style="height:500px;overflow-y:scroll;">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th> المستخدم </th>
                                                <th> مستند </th>
                                                <th> بيان </th>
                                                <th> وقت </th>
                                                <th> قيمة </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.FullName </td>
                                                                <td> @item.MovementTypeName.Replace("صرف لمدرس", "حصة").Replace("صرف مراجعة لمدرس", "مراجعة").Replace("صرف امتحان لمدرس", "امتحان") </td>
                                                    <td> @item.Notes.Replace("12:00:00 AM", "") </td>
                                                    <td> @Convert.ToDateTime(item.CreatedDate).ToString("t") </td>
                                                    <td>@item.Value </td>
                                                    <td>
                                                        @if (item.GroupscheduleId != 0)
                                                        {
                                                            <a asp-action="lectureDetails" asp-controller="Teachers" asp-area="scp" asp-route-id="@item.GroupscheduleId" class="btn btn-info btn-sm"> <i class="fa fa-eye"></i> </a>
                                                        }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    @if (User.IsInRole("PowerUser") || User.IsInRole("SuperUser"))
    {
        <div>
            <img src="~/images/elra3ylogo150.png" alt="Elra3y Center" style="display: block;margin-left: auto;margin-right: auto;width: 40%;" />
        </div>

    }

    @if (User.IsInRole("User"))
    {
        <div>
            <img src="~/images/elra3ylogo1502.png" alt="Elra3y Center" style="display: block;margin-left: auto;margin-right: auto;width: 40%;" />
        </div>

    }

}
