@model IEnumerable<JeCenterWeb.Models.FinancialJournalEntryLine>
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Treasury";
}
<div class="row">
    <div class="col-md-4">
        <h5>رصيد الخزينة : @ViewData["Balance"]</h5>
    </div>
    <div class="col-md-4">
        <h5>  : @ViewData["FullName"]</h5> @ViewData["date"]
    </div>
    <div class="col-md-4">
        @if (User.IsInRole("PowerUser") || User.IsInRole("AdminSettings"))
        {
            <form asp-action="IndexByDate" asp-controller="Treasury" asp-area="scp" method="post">
                <div class="row">
                    <div class="col-8">
                        <input class="form-control text-left" name="date" type="date" />
                    </div>
                    <div class="col-4">
                        <input type="submit" value="اليوم" class="btn btn-info" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>
<br />
<table class="table table-striped table-sm text-center">
    <thead>
        <tr>
            <th>
                رقم الحركة
            </th>
            <th>
                الوقت
            </th>
            <th>
                بيان
            </th>
            <th>
                استلام
            </th>
            <th>
                صرف
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.JournalEntryDate == DateTime.Today)
            {
                <tr>
                    <td>
                        @item.FinancialDocumentId
                    </td>
                    <td>
                        @Convert.ToDateTime(item.CreatedDate).ToString("t")
                    </td>
                    <td style="width:70%;text-align:right;">
                        @item.FinancialDocuments.Notes
                    </td>
                    <td>
                        @item.Debit
                    </td>
                    <td>
                        @item.Credit
                    </td>
                </tr>
            }
            else if (User.IsInRole("PowerUser") || User.IsInRole("AdminSettings"))
            {
                <tr>
                    <td>
                        @item.FinancialDocumentId
                    </td>
                    <td>
                        @Convert.ToDateTime(item.CreatedDate).ToString("t")
                    </td>
                    <td style="width:70%;text-align:right;">
                        @item.FinancialDocuments.Notes
                    </td>
                    <td>
                        @item.Debit
                    </td>
                    <td>
                        @item.Credit
                    </td>
                </tr>
            }
        }
    </tbody>
</table>