@model IEnumerable<JeCenterWeb.Models.ViewModel.TeachersGroupsViewModel>

@{
    ViewData["Title"] = "Teachers";
}
<div>
    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@ViewBag.id">
        @ViewBag.FullName
    </a>
</div>
<br />
<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4>
                    @item.TeacherName
                </h4>
            </div>
            <div class="card-body">
                <img src="~/@item.imgurl" alt="" class="card-img-top" width="100%">
                <h5>
                   <i class="fa fa-users"></i>  عدد المجموعات :  @item.CountOfGroups 
                </h5>
            </div>
            <div class="card-footer">
                    <a class="btn btn-info btn-block" asp-action="TeacherGroups" asp-route-id="@ViewData["id"]" asp-route-SyllabusID="@item.SyllabusID" asp-route-teacherid="@item.id" asp-route-PhysicalyearId="@ViewData["PhysicalyearId"]"> المجموعات</a>
            </div>
        </div>
    </div>
}
</div>